@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    text-align: center;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Ubuntu', serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.3em;
    line-height: 2;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.App {

}

.jumbotron {
    padding-top: 20px !important;
    background-color: #f8f9fa !important;
}

.spaced {
    margin: 40px 0 !important;
}

.navbar {
    margin-bottom: 10px;
}

.appIcon {
    margin-right: 10px;
}

.newVoteForm {
    text-align: left;
}

.tag {
    margin: 0 2px;
    background-color: #7f7fd5;
}

.noDecoration, .noDecoration:hover {
    text-decoration: none !important;
    color: inherit;
}

.pointer {
    cursor: pointer;
}

.appreciation-color-6 {
    background-color: #c862de;
    border-radius: .3em;
    color: white;
}

.appreciation-color-5 {
    background-color: #a462df;
    border-radius: .3em;
    color: white;
}

.appreciation-color-4 {
    background-color: #8062df;
    border-radius: .3em;
    color: white;
}

.appreciation-color-3 {
    background-color: #666ddf;
    border-radius: .3em;
    color: white;
}

.appreciation-color-2 {
    background-color: #6592de;
    border-radius: .3em;
    color: white;
}

.appreciation-color-1 {
    background-color: #64b5de;
    border-radius: .3em;
    color: white;
}

#myChart {
    width: 100%;
    height: 500px;
}

.table {
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    float: none;
}

.attendees{
    margin: 10px;
}

.hasVoted {
    color: #2ed573;
}

.hasNoVoted {
    color: #ff4757;
}
